<div>
  <h2 md-dialog-title> {{ title }} </h2>
  <md-dialog-content>
    <form id="item-form" method="post" (ngSubmit)="createItem.form.valid && submitItem()" #createItem="ngForm" role="form" novalidate>
      <md-input-container class="full-width">
        <input mdInput [(ngModel)]="model.name" name="itemName" placeholder="Item name">
      </md-input-container>
      <md-input-container class="full-width">
        <textarea mdInput [(ngModel)]="model.description" name="description" placeholder="Description"></textarea>
      </md-input-container>
      <md-select class="full-width" placeholder="Item Status" [(ngModel)]="model.status" name="status">
        <md-option [value]="'pending'">Pending</md-option>
        <md-option [value]="'complete'">Complete</md-option>
      </md-select>
      <div *ngIf="errMsg" class="alert alert-warning" role="alert">
        {{ errMsg }}
      </div>
    </form>
  </md-dialog-content>
  <md-dialog-actions>
    <button md-button (click)="editItem()" *ngIf="data.item">Update</button>
    <button md-button (click)="submitItem()" *ngIf="!data.item">Submit</button>
    <button md-button (click)="cancelDialog()">Cancel</button>
  </md-dialog-actions>
</div>
