<div *ngIf="items" class="col-md-12 pull-low">
    <div class="card card-nav-tabs" >
        <div class="card-header" data-background-color="blue">
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                    <span class="nav-tabs-title">ITEMS:</span>
                    <ul class="nav nav-tabs" data-tabs="tabs">
                      <li>
                        <button md-btn [ngClass]="all" (click)="filterStatus()">
                            <i class="material-icons">menu</i>
                            All
                          <div class="ripple-container"></div></button>
                      </li>
                      <li>
                          <button md-btn [ngClass]="pending" (click)="filterStatus('pending')">
                            <i class="material-icons">filter_list</i>
                            Pending
                          <div class="ripple-container"></div></button>
                      </li>
                      <li>
                          <button md-btn [ngClass]="complete" (click)="filterStatus('complete')">
                              <i class="material-icons">done_all</i>
                              Completed
                          <div class="ripple-container"></div></button>
                      </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-content">
            <div class="tab-content">
                <div class="tab-pane active" id="profile">
                    <table class="table">
                      <tbody>
                        <tr *ngFor="let item of items">
                          <td>
                              <md-checkbox *ngIf="item.status != 'complete'"
                                value="item.id"
                                [align]="align"
                                mdTooltip="Complete" [mdTooltipPosition]="position"
                                (click)="completeItem(item)">
                              </md-checkbox>
                          </td>
                          <td><strong> {{ item.name }}: </strong>{{ item.description }}
                          <div *ngIf="item.status === 'complete'">
                            <small> Date Completed: {{ item.date_accomplished | date: 'dd-MM-yyyy' }} </small>
                          </div>
                          </td>
                          <td class="td-actions text-right">
                              <button (click)="editItem(item)" md-mini-fab class="btn btn-primary btn-simple btn-xs" mdTooltip="Edit Item" [mdTooltipPosition]="position">
                                  <i class="material-icons" style="color: #2862b8;">edit</i>
                              </button>
                              <button md-mini-fab (click)="deleteItem(item.id)" mdTooltip="Delete Item" [mdTooltipPosition]="position" style="background-color: #2862b8;">
                                  <md-icon>close</md-icon>
                              </button>
                          </td>
                        </tr>
                        <tr *ngIf="!this.items.length"><td>No items found!</td></tr>
                      </tbody>
                    </table>
                </div>
            </div>    
        </div>
    </div>
</div>

<div *ngIf="!items" class="col-md-12 pull-low">
    <md-card>
        <md-card-header>
            <p><strong>WHAT DO YOU PLAN TO DO BEFORE DEATH?</strong></p>
        </md-card-header>
        <img md-card-image src="../assets/images/bucketList.jpg">
    </md-card>
</div>