<button class="btn btn-sm btn-default" (click)="editItemModal.open()">
  <span class="glyphicon glyphicon-edit"></span>
</button>
<form id="edit-item-form" method="post" (ngSubmit)="editItem.form.valid && updateItem()" #editItem="ngForm" role="form" novalidate>
  <modal #editItemModal>
    <modal-header>
      Edit Bucketlist Item
    </modal-header>
    <modal-content>
       <div class="form-group">
          <input type="text" [(ngModel)]="model.name" name="name" class="form-control" placeholder="Item name" value=""/>
      </div>
      <div class="form-group">
          <textarea [(ngModel)]="model.description" name="description" class="form-control" placeholder="Item Description" value=""></textarea>
      </div>
      <div class="form-group">
          <input type="text" [(ngModel)]="model.status" name="status" class="form-control" placeholder="Item Status" value="">
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="errMsg">{{ errMsg }}</div>
    </modal-content>
    <modal-footer>
      <input type="submit" name="bucketlist-submit" class="btn btn-success" value="Update">
      <button class="btn btn-primary" (click)="editBucketlistModal.close()" #closeItemEdit>close</button>
    </modal-footer>
  </modal>
</form>
