<div>
  <h2 md-dialog-title> {{ title }} </h2>
  <md-dialog-content>
    <form id="bucketlist-form" method="post" (ngSubmit)="createBucketlist.form.valid && submitBucketlist()" #createBucketlist="ngForm" role="form" novalidate>
      <md-input-container class="full-width">
        <input mdInput [(ngModel)]="model.name" name="name" placeholder="Bucketlist name">
      </md-input-container>
      <md-input-container class="full-width">
        <textarea mdInput [(ngModel)]="model.description" name="description" placeholder="Description"></textarea>
      </md-input-container>
      <md-input-container class="full-width">
        <input mdInput [(ngModel)]="model.interests" name="interests" placeholder="Interests">
      </md-input-container>
      <div *ngIf="errMsg" class="alert alert-warning" role="alert">
        {{ errMsg }}
      </div>
    </form>
  </md-dialog-content>
  <md-dialog-actions>
    <button md-button (click)="editBucketlist()" *ngIf="data">Update</button>
    <button md-button (click)="submitBucketlist()" *ngIf="!data">Submit</button>
    <button md-button (click)="cancelDialog()">Cancel</button>
  </md-dialog-actions>
</div>
