    <div class="col-lg-7">
        <div class="panel panel-info">
            <!-- Default panel contents -->
            <div class="panel-heading"><b>My Bucketlists</b></div>
            <!-- Table -->
            <table class="table">
                <tr><td> Bucketlist one </td></tr>
                <tr><td> Bucketlist two </td></tr>
            </table>
        </div>
    </div>

    <div class="col-lg-5">
        <div class="panel panel-success">
            <!-- Default panel contents -->
            <div class="panel-heading"><b>Items</b></div>
            <!-- Table -->
            <table class="table">
                <tr><td> Bucketlist item one </td></tr>
                <tr><td> Bucketlist item two </td></tr>
                <tr><td> Bucketlist item two </td></tr>
                <tr><td> Bucketlist item two </td></tr>
                <tr><td> Bucketlist item two </td></tr>
                <tr><td> Bucketlist item two </td></tr>
            </table>
        </div>
    </div>
