<div class="col-lg-7">
    <div class="col-lg-12" *ngFor="let bucketlist of bucketlists">
        <div class="panel panel-info">
            <!-- Default panel contents -->
            <div class="panel-heading"><b>{{ bucketlist.name }}</b></div>
            <!-- Table -->
            <table class="table">
                <tr><td> {{ bucketlist.description }} </td></tr>
                <tr><td> {{ bucketlist.date_created }} </td></tr>
            </table>
        </div>
    </div>
</div>
<div class="col-lg-5">
    <div class="col-lg-12">
        <div class="panel panel-success">
            <!-- Default panel contents -->
            <div class="panel-heading"><b>Items</b></div>
            <!-- Table -->
            <table class="table">
                <tr><td> Bucketlist item one </td></tr>
                <tr><td> Bucketlist item two </td></tr>
                <tr><td> Bucketlist item two </td></tr>
                <tr><td> Bucketlist item two </td></tr>
                <tr><td> Bucketlist item two </td></tr>
                <tr><td> Bucketlist item two </td></tr>
            </table>
        </div>
    </div>
</div>
