/* You can add global styles to this file, and also import other style files */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,700,500);
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

nav {
    background-color: #283593;
    color: #ffffff;
    box-shadow: 0 2px 5px rgba(0,0,0,.26);
    padding: 10px;
    width: 100%;
    position: fixed;
}

.pull-right {
    float:right;
}

.margin-20 {
    padding-right: 50px;
}
